
#Header{

    position : relative;
    border-bottom : 4px solid rgb(92, 89, 89);
    left : 5%; top :0px; width : 90%; height : 100px;
    background-color: rgb(255, 255, 255);
    /* border-radius: 15px; */
    z-index : 1;
    opacity : 1;
}


#Header img{

    position : absolute;
    left : 2%; top : 14px; width : 13%; height : 74px;
    z-index : 1;
    /* border : 2px solid red; */

}


#CompanyName{
    position : absolute;
    /* border : 2px solid yellow; */
    left : 16%; top : 27px; width : 70%; height : 60px; 
    text-align : left;
    font-size : 22px;
    color :rgb(182, 153, 104);
    font-family : "Poppins-BoldItalic";
}

#Tel{
    position : absolute;
    /* border : 2px solid yellow; */
    left : 60%; top : 70px; width : 40%; height : 30px;
    /* border : 1px solid red; */
    color :rgb(182, 153, 104);
    cursor : pointer;
    z-index : 2;
}

#Tel a{

    position : absolute;
    /* border : 2px solid yellow; */
    left : 0px; top : 0px;
    font-size : 20px;
    color :rgb(182, 153, 104);
    cursor : pointer;
}


/*

    ************************ Głowne menu wysuwane Przycisk****************************


*/




div.MainMenuButton{

    position : absolute;                                            
    border : 0px solid rgb(227, 220, 220);
    left : 93%; top: 20px; width : 5%; height : 30px;
    cursor : pointer;
}

span.MainMenuButt1{

    position : absolute;
    background-color : rgb(106, 78, 78);
    left : 0%; top: 0px; width : 100%; height : 24%;
    transition-property : background-color;
    transition-duration : 1000ms;

}

span.MainMenuButt2{

    position : absolute;
    background-color : rgb(106, 78, 78);
    left : 0%; top: 38%; width : 100%; height : 24%;
    transition-property : background-color;
    transition-duration : 1000ms;

}

span.MainMenuButt3{

    position : absolute;
    background-color : rgb(106, 78, 78);
    left : 0%; top: 76%; width : 100%; height : 24%;
    transition-property : background-color;
    transition-duration : 1000ms;

}


/*

    ************************ Głowne menu wysuwane Tabela****************************


*/

div.MainMenu{

    position : absolute;
    border : 0px solid red;
    left : 65%; top : 60px; width : 33%; height : 180px; 
    overflow : hidden;
    z-index : 1;
}


table.MainMenuTable{

    position : absolute;
    left : 110%; top : -110%; width : 100%; height : 100%; 
    transition : left 500ms, top 500ms;   
    cursor : pointer; 
    z-index : 0;

}

table.MainMenuTable td{

    border  : 0px;
    color : rgb(243, 235, 235);
    font-family : "Tahoma";
    font-size : 14px;
    text-align : center;
    background-color : rgb(95, 212, 185);
    border-radius : 5px;

}



/*

    ************************ Text 1***************************


*/


#Text_1{


    position : relative;
    left : 5%; top : 40px; width:90%; height : 492px;
    background-color: rgb(61, 79, 155);
    border-radius : 15px;
    /* border : 3px solid yellow; */
    z-index : 0;

}

#Text_1 img{


    position : absolute;
    left : 0px; top : 0px; width : 100%; height : 60%;
    /* background-color: rgb(236, 232, 227); */
    border-radius : 15px;

    z-index : 0;
}

#Text_1_Header{
    position : absolute;
    left : 0px; top :61%; width : 100%;
    /* border : 2px solid green; */
    font-family : "Poppins-ExtraBoldItalic";
    font-size : 26px;
    color :rgb(225, 230, 236);
    text-align : center
}

#Text_1_{
    position : absolute;
    left : 4%; top :71%; width : 92%;
    /* border : 2px solid green; */
    font-family : "Roboto-Condensed-Italic";
    font-size : 16px;
    color :rgb(225, 230, 236);
    text-align : "right";
}


/*

    ************************ Text 2***************************


*/


#Text_2{


    position : relative;
    left : 5%; top : 80px; width:90%; height : 492px;
    background-color: rgb(61, 79, 155);
    border-radius :15px;
    /* border : 3px solid yellow; */
    z-index : 0;

}

#Text_2 img{


    position : absolute;
    left : 0px; top:0px; width:100%; height : 60%;
    /* background-color: rgb(236, 232, 227); */
    border-radius : 15px;

    z-index : 0;

}

#Text_2_Header{
    position : absolute;
    left : 0px; top :61%; width : 100%;
    /* border : 2px solid green; */
    font-family : "Poppins-ExtraBoldItalic";
    font-size : 26px;
    color :rgb(225, 230, 236);
    text-align : center
}

#Text_2_{
    position : absolute;
    left : 4%; top :68%; width : 92%;
    /* border : 2px solid green; */
    font-family : "Roboto-Condensed-Italic";
    font-size : 16px;
    color :rgb(225, 230, 236);
    text-align : "right";
}



/*

    ************************ Text 3***************************


*/


#Text_3{


    position : relative;
    left : 5%; top : 120px; width:90%; height : 520px;
    background-color: rgb(61, 79, 155);
    border-radius : 15px;
    /* border : 3px solid yellow; */
    z-index : 0;

}

#Text_3 img{


    position : absolute;
    left : 0px; top:0px; width:100%; height : 50%;
    /* background-color: rgb(236, 232, 227); */
    border-radius : 15px;

    z-index : 0;

}

#Text_3_Header{
    position : absolute;
    left : 0px; top :51%; width : 100%;
    /* border : 2px solid green; */
    font-family : "Poppins-ExtraBoldItalic";
    font-size : 26px;
    color :rgb(225, 230, 236);
    text-align : center
}

#Text_3_{
    position : absolute;
    left : 4%; top :61%; width : 92%;
    /* border : 2px solid green; */
    font-family : "Roboto-Condensed-Italic";
    font-size : 16px;
    color :rgb(225, 230, 236);
    text-align : "right";
}


/*

    ************************ Footer***************************


*/


#footer{
    position : relative;
    left : 5%; top: 160px; width:90%; height : 200px;
    background-color: rgb(237, 238, 242);
    border-top : 4px solid rgb(92, 89, 89);
    /* border : 3px solid yellow; */
    z-index : 0;
}

footer img.Header_Logo{

    position : absolute;
    left : 2%; top : 24px; width : 10%; height : 54px;
    z-index : 1;
    /* border : 2px solid red; */

}


footer #CompanyName{
    position : absolute;
    /* border : 2px solid yellow; */
    left : 12%; top : 37px; width : 40%; height : 60px; 
    text-align : left;
    font-size : 16px;
    color :rgb(182, 153, 104);
    font-family : "Poppins-BoldItalic";
}

footer img.Address{

    position : absolute;
    left : 52%; top : 24px; width : 7%; height : 38px;
    z-index : 1;
    /* border : 2px solid red; */

}

footer span.Address{

    position : absolute;
    left : 60%; top : 24px; width : 40%; height : 38px;
    z-index : 1;
    text-align : left;
    font-size : 14px;
    color :rgb(182, 153, 104);
    font-family : "Roboto-Condensed-Italic";

}

footer img.Tel{

    position : absolute;
    left : 52%; top : 72px; width : 7%; height : 38px;
    z-index : 1;
    /* border : 2px solid red; */

}

footer div.Tel{

    position : absolute;
    left : 60%; top : 82px; width : 40%; height : 28px;
    z-index : 1;
    /* border : 2px solid red; */
}

footer a{

    text-align : left;
    font-size : 14px;
    color :rgb(182, 153, 104);
    font-family : "Roboto-Condensed-Italic";
    cursor : pointer;
    text-decoration : none;

}

footer img.Mail{

    position : absolute;
    left : 52%; top : 120px; width : 7%; height : 38px;
    z-index : 1;

}

footer div.Mail{

    position : absolute;
    left : 60%; top : 130px; width : 40%; height : 28px;
    z-index : 1;
    /* border : 2px solid red; */
}
