
#Header{

    position : relative;
    /* border-bottom : 4px solid rgb(92, 89, 89); */
    left : 0px; top :0px; width : 100%; height : 90px;
    background-color: rgb(255, 255, 255);
    /* border-radius: 15px; */
    z-index : 1;
    opacity : 1;
}


#Header img{

    position : absolute;
    left : 2%; top : 14px; width : 14%; height : 58px;
    z-index : 1;
    /* border : 2px solid red; */

}


#CompanyName{
    position : absolute;
    /* border : 2px solid yellow; */
    left : 17%; top : 27px; width : 70%; height : 60px; 
    text-align : left;
    font-size : 22px;
    color :rgb(182, 153, 104);
    font-family : "Poppins-BoldItalic";
}

#Tel{
    position : absolute;
    /* border : 2px solid yellow; */
    left : 60%; top : 65px; width : 40%; height : 20px;
    /* border : 1px solid red; */
    color :rgb(182, 153, 104);
    cursor : pointer;
    z-index : 2;
}

#Tel a{

    position : absolute;
    /* border : 2px solid yellow; */
    left : 0px; top : 0px;
    font-size : 14px;
    color :rgb(182, 153, 104);
    cursor : pointer;
}


/*

    ************************ Głowne menu wysuwane Przycisk****************************


*/




div.MainMenuButton{

    position : absolute;                                            
    border : 0px solid rgb(227, 220, 220);
    left : 92%; top: 20px; width : 7%; height : 30px;
    cursor : pointer;
}

span.MainMenuButt1{

    position : absolute;
    background-color : rgb(106, 78, 78);
    left : 0%; top: 0px; width : 100%; height : 24%;
    transition-property : background-color;
    transition-duration : 1000ms;

}

span.MainMenuButt2{

    position : absolute;
    background-color : rgb(106, 78, 78);
    left : 0%; top: 38%; width : 100%; height : 24%;
    transition-property : background-color;
    transition-duration : 1000ms;

}

span.MainMenuButt3{

    position : absolute;
    background-color : rgb(106, 78, 78);
    left : 0%; top: 76%; width : 100%; height : 24%;
    transition-property : background-color;
    transition-duration : 1000ms;

}



/*

    ************************ Głowne menu wysuwane Tabela****************************


*/

div.MainMenu{

    position : absolute;
    border : 0px solid red;
    left : 60%; top : 60px; width : 38%; height : 180px; 
    overflow : hidden;
    z-index : 1;
}


table.MainMenuTable{

    position : absolute;
    left : 110%; top : -110%; width : 100%; height : 100%; 
    transition : left 500ms, top 500ms;   
    cursor : pointer; 

}

table.MainMenuTable td{

    border  : 0px;
    color : rgb(243, 235, 235);
    font-family : "Tahoma";
    font-size : 12px;
    text-align : center;
    background-color : rgb(95, 212, 185);
    border-radius : 5px;

}



/*

    ************************ Text 1***************************


*/


#Text_1{
    position : relative;
    left : 0px; top: 0px; width : 100%; height : 140px;
    background-color : rgb(18, 18, 18);
    /* border : 2px solid red; */
}


#Text_1 img{
    position : absolute;
    left : 0px; top: 0px; width:100%; height : 140px;
    opacity : 0;
}

#Text_1 span{
    position : absolute;
    left : 0px; top: 55px; width:100%; height : 40px;
    font-family : "Roboto-Bold";
    font-size : 30px;
    text-align : center;
    color:white;
    opacity : 0;
}




/*

    ************************ Text 2***************************


*/


#Text_2{
    position : relative;
    left : 0px; top: 30px; width : 100%; height : 480px;
    text-align :  center;
    /* border : 2px solid red; */
}

#Text_2 img{
    position : static;
    top: 10px; width:80px; height : 80px;
}

span.Car{
    position : absolute;
    left : 0%; top: 100px; width:100%;
    font-family : "Poppins-BoldItalic";
    font-size : 20px;
    text-align : center;
    color:rgb(56, 20, 202);
}

span.Header{
    position : absolute;
    left : 5; top: 180px; width:90%;
    font-family : "Poppins-Bold";
    font-size : 18px;
    text-align : center;
    color:rgb(48, 45, 45);
    border-top : 3px solid rgb(182, 153, 104);
    padding-top : 20px;
}
 
span.Desc{
    position : absolute;
    left : 5%; top: 234px; width:90%;
    font-family : "Roboto-Condensed";
    font-size : 14px;
    text-align : left;
    color:rgb(48, 45, 45);

}



/*

    ************************ Text 3***************************


*/


#Text_3{
    position : relative;
    left : 0px; top: 20px; width : 100%; height : 300px;
    text-align :  center;
    /* border : 2px solid red; */
}

span.Header_1{
    position : absolute;
    left : 5%; top: 10px; width:90%;
    font-family : "Poppins-Bold";
    font-size : 18px;
    text-align : center;
    color:rgb(48, 45, 45);
    border-top : 3px solid rgb(182, 153, 104);
    padding-top : 20px;
}
 
span.Desc_1{
    position : absolute;
    left : 5%; top: 70px; width:90%;
    font-family : "Roboto-Condensed";
    font-size : 14px;
    text-align : left;
    color:rgb(48, 45, 45);
}

/*

    ************************ Text 4***************************


*/


#Text_4{
    position : relative;
    left : 0px; top: 20px; width : 100%; height : 280px;
    text-align :  center;
    /* border : 2px solid red; */
}

span.Header_2{
    position : absolute;
    left : 5%; top: 10px; width:90%;
    font-family : "Poppins-Bold";
    font-size : 18px;
    text-align : center;
    color:rgb(48, 45, 45);
    border-top : 3px solid rgb(182, 153, 104);
    padding-top : 20px;
}
 
span.Desc_2{
    position : absolute;
    left : 5%; top: 90px; width:90%;
    font-family : "Roboto-Condensed";
    font-size : 14px;
    text-align : left;
    color:rgb(48, 45, 45);
}


/*

************************ Text 5***************************


*/


#Text_5{
    position : relative;
    left : 0px; top: 50px; width : 100%; height : 480px;
    text-align :  center;
    background-color: rgb(204, 210, 219);
    /* border : 2px solid red; */
}

span.Header_3{
    position : absolute;
    left : 5%; top: 10px; width:90%;
    font-family : "Poppins-Bold";
    font-size : 18px;
    text-align : center;
    color:rgb(48, 45, 45);
    /* border-top : 3px solid rgb(182, 153, 104); */
    padding-top : 20px;
}

span.Desc_3{
    position : absolute;
    left : 5%; top: 70px; width:90%;
    font-family : "Roboto-Condensed";
    font-size : 14px;
    text-align : left;
    color:rgb(48, 45, 45);
}

span.Final_Desc{
    position : absolute;
    left : 5%; top: 320px; width : 90%;
    font-family : "Roboto-BoldItalic";
    font-size : 16px;
    text-align : left;
    color:rgb(89, 122, 188);
}

ul{
    font-family : "Roboto-Condensed";
    font-size : 14px;
    text-align : left;
    color:rgb(96, 90, 90);
    list-style-image : url("../../Grafika/point_16.png");
}

/*

    ************************ Footer***************************


*/


#footer{
    position : relative;
    left : 0px; top: 20px; width : 100%; height : 170px;
    background-color: rgb(237, 238, 242);
    border-top : 4px solid rgb(92, 89, 89);
    /* border : 3px solid yellow; */
    z-index : 0;
}

footer img.Header_Logo{

    position : absolute;
    left : 2%; top : 24px; width : 10%; height : 34px;
    z-index : 1;
    /* border : 2px solid red; */

}


footer #CompanyName{
    position : absolute;
    /* border : 2px solid yellow; */
    left : 13%; top : 27px; width : 40%; height : 60px; 
    text-align : left;
    font-size : 12px;
    color :rgb(182, 153, 104);
    font-family : "Poppins-BoldItalic";
}

footer img.Address{

    position : absolute;
    left : 52%; top : 24px; width : 7%; height : 28px;
    z-index : 1;
    /* border : 2px solid red; */

}

footer span.Address{

    position : absolute;
    left : 60%; top : 24px; width : 40%; height : 28px;
    z-index : 1;
    text-align : left;
    font-size : 12px;
    color :rgb(182, 153, 104);
    font-family : "Roboto-Condensed-Italic";

}

footer img.Tel{

    position : absolute;
    left : 52%; top : 72px; width : 7%; height : 28px;
    z-index : 1;
    /* border : 2px solid red; */

}

footer div.Tel{

    position : absolute;
    left : 60%; top : 82px; width : 40%; height : 18px;
    z-index : 1;
    /* border : 2px solid red; */
}

footer a{

    text-align : left;
    font-size : 12px;
    color :rgb(182, 153, 104);
    font-family : "Roboto-Condensed-Italic";
    cursor : pointer;
    text-decoration : none;

}

footer img.Mail{

    position : absolute;
    left : 52%; top : 120px; width : 7%; height : 28px;
    z-index : 1;

}

footer div.Mail{

    position : absolute;
    left : 60%; top : 130px; width : 40%; height : 18px;
    z-index : 1;
    /* border : 2px solid red; */
}
